.actionBox {
  width: 100%;
}

.transactions .line {
  margin: 15px 0 5px 0;
}

.MuiButton-outlined.actionSelected {
  background-color: #00ab63;
  color: #fff;
  border-color: #00ab63;
}

.MuiButton-outlined.actionSelected:hover {
  background-color: #00ab63;
  color: #fff;
  border-color: #00ab63;
}

.coinGroup {
  display: flex;
  justify-content: space-between;
  margin: 30px 0 0 0;
}

.coinGroup .select {
  margin: 0 30px 0px 0px;
  width: 100%;
}

.MuiButton-outlined.secondaryButton.lastActionButton {
  margin: 20px 0 0 0;
}
